/*------------slider-------------*/
.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
	



/*------------contact------------*/

.contact{
	padding:3em 0 0;
}
.map iframe {
    width: 100%;
    height: 400px;
}
.contact-grids h2{
	color: #ed645c;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 2.1em;
  margin-top: 1.5em;
  font-family: 'Audiowide', cursive;
}
.contact-grids p.design{
	margin: .2em 0 0 0;
	color: #999999;
	font-size: 25px;
	text-align: center;
	font-weight: 300;
	}
.contact-grid{
	float:left;
	width:29%;
	text-align:center;
	}
.contact-grid p{
	color:#898888;
	font-size:15px;
	margin:1em 0 0;
	}
.contact-grid p span{
	display:block;
	margin:.3em 0 0;
	}
.glyphicon-phone-alt:before,.glyphicon-map-marker:before  {
   color:#C2C4C5;
   font-size:22px;
}
.glyphicon-envelope2:before {
    content: "\2709";
	color:#C2C4C5;
   font-size:22px;
}
.contact-grid p a{
	color:#898888;
	font-size:15px;
	}
.contact-grid p a:hover{
	text-decoration:none;
	color:#7EC259;
	}
.contact-grid:nth-child(2){
	margin:0 4em;
	}
.contact-grids input[type="text"],.contact-grids textarea{
	outline:none;
	border:1px solid #a1a1a1;
	background:none;
	padding:15px 10px;
	font-size:15px;
	border-radius: 7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
	}
.contact-grids input[type="text"]{	
	width:30%;
	float:left;
	}
.contact-grids input[type="text"]:nth-child(2){
	margin:0 3.8em;
	}
.contact-grids textarea{
	width:100%;
	height:300px;
	margin:1.5em 0;
	resize:none;
	}
.contact-grids input[type="submit"]{
	outline:none;
	border:none;
	background:#B8D29B;
	width: 13%;
	display: block;
	padding: 10px 0px;
	border:2px solid #B8D29B;
	border-radius: 4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	color:#fff;
	font-size:16px;
	font-weight:700;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.contact-grids input[type="submit"]:hover{
	background:#fff;
	color:#B8D29B;
	}
.contact-icons{
	padding:3em 0 4em;
}
.map{
	margin-top:3em;
}
@media (max-width: 800px){
	.contact-grid p {
    font-size: 12px;
}
.contact-grids input[type="text"] {
    width: 100%;
	padding: 10px 10px;
    font-size: 13px;
}
.contact-grids input[type="text"]:nth-child(2) {
    margin:1.5em 0;
}
.contact-grids textarea {
    height: 220px;
	padding: 10px 10px;
    font-size: 13px;
}
.contact-grid:nth-child(2) {
    margin: 0 2em;
}
.glyphicon-phone-alt:before, .glyphicon-map-marker:before,.glyphicon-envelope2:before {
    font-size: 14px;
}
.contact-grid p a {
    font-size: 13px;
}
.map iframe {
    height: 320px;
}
.top-menu ul li:nth-child(3) {
    margin-right: 0;
}
.contact-grids input[type="submit"] {
    width: 19%;
    padding: 8px 0px;
    font-size: 15px;
}
}
@media(max-width:480px){
	.contact-grid {
    width: 33%;
}
.contact-grid:nth-child(2) {
    margin: 0 0em;
}
.contact-grids textarea {
    height: 165px;
}
.contact-grids input[type="submit"] {
    width: 24%;
    padding: 8px 0px;
    font-size: 14px;
}
.map iframe {
    height: 260px;
}
.contact-icons {
    padding:2em 0;
}
}
@media(max-width:320px){
	.contact {
    padding: 1em 0 0;
}
.contact-grid:nth-child(2) {
    margin:1em 0;
}
.map {
    margin-top: 1em;
}
.map iframe {
    height: 180px;
}
}